
.vs/UET Mardan/v16/.suo
.vs/UET Mardan/v16/.suo
*.json
.vs/UET Mardan/v16/.suo
Library/EditorInstance.json
Library/expandedItems
Library/SceneVisibilityState.asset
Library/StateCache/MainStageHierarchy/6e/6e0a1248b1de3cdd9e7993c84419d5b3.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2021.dwlt
Temp/UnityLockfile
Temp/workerlic
*.log
